﻿@model FinalProject.Models.Place

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Place</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateUpdated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateUpdated)
            @Html.ValidationMessageFor(model => model.DateUpdated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceName)
            @Html.ValidationMessageFor(model => model.PlaceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpecialFood)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SpecialFood)
            @Html.ValidationMessageFor(model => model.SpecialFood)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceAdress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceAdress)
            @Html.ValidationMessageFor(model => model.PlaceAdress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpenTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpenTime)
            @Html.ValidationMessageFor(model => model.OpenTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CloseTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CloseTime)
            @Html.ValidationMessageFor(model => model.CloseTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isWifi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isWifi)
            @Html.ValidationMessageFor(model => model.isWifi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MenuImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MenuImage)
            @Html.ValidationMessageFor(model => model.MenuImage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViewQuantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewQuantity)
            @Html.ValidationMessageFor(model => model.ViewQuantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LikeQuantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LikeQuantity)
            @Html.ValidationMessageFor(model => model.LikeQuantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictID, "District")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistrictID", String.Empty)
            @Html.ValidationMessageFor(model => model.DistrictID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityID, "Activity")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ActivityID", String.Empty)
            @Html.ValidationMessageFor(model => model.ActivityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceTypeID, "PlaceType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlaceTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.PlaceTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
