﻿@model FinalProject.Models.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Place</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecialFood)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpecialFood)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceAdress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceAdress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CloseTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CloseTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isWifi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isWifi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MenuImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MenuImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViewQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LikeQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LikeQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.District.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.District.DistrictName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activity.ActivityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activity.ActivityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceType.PlaceTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceType.PlaceTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
