﻿@model FinalProject.Models.PlaceImage

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PlaceImage</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceImageLink)
            @Html.ValidationMessageFor(model => model.PlaceImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceID, "Place")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlaceID", String.Empty)
            @Html.ValidationMessageFor(model => model.PlaceID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
