﻿@model FinalProject.Models.Vote

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vote</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceVote)
            @Html.ValidationMessageFor(model => model.PlaceVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViewVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewVote)
            @Html.ValidationMessageFor(model => model.ViewVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QualityVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QualityVote)
            @Html.ValidationMessageFor(model => model.QualityVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceVote)
            @Html.ValidationMessageFor(model => model.ServiceVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostVote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostVote)
            @Html.ValidationMessageFor(model => model.CostVote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceID, "Place")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlaceID", String.Empty)
            @Html.ValidationMessageFor(model => model.PlaceID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
