﻿@model FinalProject.Models.Vote

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vote</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViewVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QualityVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CostVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Place.PlaceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place.PlaceName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
