﻿@model FinalProject.Models.Vote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vote</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViewVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QualityVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QualityVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CostVote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostVote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Place.PlaceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place.PlaceName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
