﻿@model IEnumerable<FinalProject.Models.Vote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.PlaceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
