﻿@model Blog3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

<h2>Tags</h2>
<fieldset>
    <legend>Tags</legend>
    @foreach (var n in Model.Tags)
    {
        @Html.ActionLink(n.Content, "ViewPostInTag/" + n.ID, "Posts");
    }
</fieldset>

<h2>Add Comment</h2>
@Html.Partial("_addComment", new Blog3.Models.Comment(), ViewData)
<fieldset>
    <h2>Comment</h2>
    <!--Hiển thị comment-->
    <legend>Comment</legend>
    <!--Sắp xếp theo bình luận mới nhất-->
    @foreach (var n in Model.Comments.OrderBy(x=>x.Lastime).Take(10))
    {
        
        <div class="display-field">
            Viết bởi: @Html.DisplayFor(x=>n.Author)
        </div>
        <div class="display-field">
            Cách đây: @Html.DisplayFor(x => n.Lastime) &nbsp; phút
        </div>
        <div class="display-field">
            Nội dung: @Html.DisplayFor(x => n.Body)
        </div>
        <br />
    }
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
