﻿@model FinalProject.Models.District

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>District</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DistrictName)
            @Html.ValidationMessageFor(model => model.DistrictName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityID, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityID", String.Empty)
            @Html.ValidationMessageFor(model => model.CityID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
